* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #d0d2d3
  }
  
.app-container {
    display: flex;
   gap:20px
}
.all-song-div {
    background-color: #6BB8DE;
    width: 400px;
    min-height: 800px;
    padding: 10px 50px 10px 10px;
}
.app-header{
    width: 100vw;
}


/* ///////////////////// */
label {
    float: right;
    display: flex !important;
    align-items: center;
    cursor: pointer;
    color: #394a56;
  }
  .toggle {
    display: flex;
    height: 45px;
    width: 140px;
    align-items: center;
    margin:10px;
    border-radius: 100px;
    overflow: hidden;
    background-color: #c1c1c1
  }

  .toggle--dark{
    background-color: rgb(107, 184, 222)!important;
  }
  
  .indicator {
    height: 90%;
    width: 30%;
    display: flex;
    align-items: center;
    border-radius: 100px;
    background: #ffff;
    transform: translate3d(15%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  }
  #flexSwitchCheckDefault{
    display: none;
  }
  .indicator::after {
    content: 'Dark';
    font-weight: 500;
    color: #ffff;
    position: relative;
    right: -5em;
  }
  #flexSwitchCheckDefault:checked ~ .indicator {
    transform: translate3d(80%, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #flexSwitchCheckDefault:checked ~ .indicator::after{
    font-weight: 500;
    content: 'Light';
    color: #ffff;
    position: relative;
    right: -3em;
  }
  

/* //////// */

.main-heading{
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.toggle-theme-checkbox{
float: right !important;
margin: 10px 30px 20px 20px !important;
width: 70px !important;
height: 30px !important;
display: flex;
align-items: center;
}
.toggle-theme-checkbox::after{
    content: 'Dark';
    color: black;
    position: relative;
    right: -2em;
}

.toggle-theme-checkbox:checked ~ .indicator {
    background: #10e489;
  transform: translate3d(25%, 0, 0);
  }
.toggle-theme-checkbox.dark::before{
    content: 'Light';
    color: white;
    opacity: 0.5;
    left: -2em;
}
.toggle-theme-checkbox.dark::after{
    display: none;
}
.genre-dropdown-container{
    overflow: hidden;
    float: left;
}
.dropbtn{
    border: none !important;
    padding: 10px;
    border-radius: 10px;
    background-color: #40708B;
    color: #050505;
    font-weight: 500;
}
.genre-dropdown-container .dropdown-content{
    display: block;
    margin-left: 7rem;
    margin-top: 5px;
    position: absolute;
    background-color: #4492bee8;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  .genre-dropdown-container .dropdown-content:hover{
    background-color: #7a848be8 !important;
  }
.songs-container {
    margin:30px 10px;
}
.songsList-innner-div li{ 
    margin-left: 0px;
    cursor: pointer;
    background-color: #0A81BC;
    padding:10px;
    list-style: none;
    margin:10px;
    border-radius:8px;
    color:#ffff;
    font-weight: 500;

}

/* Middle-container */
.card-div {
    background-color: #6BB8DE;
    width: fit-content;
    min-height: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    border-radius: 8px;
}

#song-image{
    display: flex;
    height: 450px;
    width: 550px;
    background-color: #0A81BC;
    margin: 15px;
    box-shadow: 0px 10px 5px lightblue;
    border-radius: 8px;
    align-content: center;
    padding-top: 15px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#song-image img{
    width:500px;
    height: 350px;
    border-top: 30px solid black;
    border-bottom: 30px solid black;
}

#song-audio-container {
    display: flex;
    justify-content: center;
}

#song-audio {
    width: 30em;
    margin:20px
}

.audio-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audio-control{
    border:none;
    margin-right:15px;
    padding:15px;
    margin:10px;
    font-size: 16px;
    color:#ffff;
    width: 8em;
    background-color: #915BFD;
}

/* right container */
.playlist-div {
 display: flex;
 flex-direction: column;
 align-items: stretch;
 gap:20px
}
.right-container-part {
    background-color: #6BB8DE;
    width: 400px;
    min-height: 800px;
    padding: 10px 50px 10px 10px;
}
.playlist-container{
    display: flex;
    background-color: #ffff;
    margin:0px 0px 20px 0px
}
.playlist-container--dark{
    display: flex;
    background-color: gray;
    margin:0px 0px 20px 0px
}

.playlist-container input{
    padding: 6px;
    width: 15em;
    border: 2px solid black;
}
.playlist-container button {
   background-color: #915BFD;
     border:none;
    margin: 8px;
    width: 12em;
    padding: 10px;
}
#playlist-searchbar{
    background-color: white;
    color:black;
    border-color: black #a6a1a1 #a6a1a1 black;
    border-width: 2px;
    border-style: inset;
}
.playlist-searchbar--dark{
    background-color: gray !important;
    color:#ffff !important;
    border-color: black #a6a1a1 #a6a1a1 black !important;
    border-width: 2px !important;
    border-style: inset !important;
}
.playlist-searchbar--dark::placeholder{
    color:#ffff;
    opacity: 0.5;
}

#current-playList-li button{
    background: transparent;
    border: none;
    float: right;
    color: white;
}


